@CHARSET "ISO-8859-1";
body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
}


.ui-widget {
    font-size: 12px !important;
}


.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}

.ui-menu .ui-menu-parent .ui-menu-child {
    width: 215px !important;
}

/*botao diferente*/
.btn-warning {
    color: #000 !important;
    font-weight: bold !important;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25) !important;
    background-color: #FAA732 !important;
    background-image: linear-gradient(to bottom, #FBB450, #F89406) !important;
    background-repeat: repeat-x !important;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;

}


.ui-priority-warning {
    background-color: gold !important;
    background-image: -moz-linear-gradient(center top , #ffd700, #daa520) !important;
    background-repeat: repeat-x !important;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
    color: #ffffff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
}

.no-resize{
    resize: none;
}

.hasDatepicker {
    width: 145% !important;
    /*height: 30px !important;*/
}


